button {
    width: 75px;
    height: 75px;
    margin: 1px;
}

p {
   font-size: 37px;
}

.reset {
    width: 100px;
    height: 75px;
    font-size: 37px;
    background-color: blueviolet;
}